.itemFriends{
    max-width: 120px;
    margin-left: 30px;
    border-radius: 10px;
    list-style: none;
}
.itemFriends:hover,
.itemFriends:focus{
    background-color: rgb(235, 238, 241);
    transition: all 0.3s ease;
}

@media (max-width: 820px) {
    .itemFriends{
        margin-top: 15px;
    }
}

.contFrends{
   padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    
}


.online{
    color: green;
}

.offline{
    color: red;
}

.borderOnline{
    border: 2px solid green;
}

.borderOffline{
    border: 2px solid red;
}